:root{
    --text-color: #667085;
    --main-color: #8E2424;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
}

header{
    /* background-color: black; */
    width: 1440px;
    height: 80px;
}

.container{
    position: fixed;
    width: 1280px;
    height: 44px;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}

ul {
    display: flex;
    padding: 8px;
    gap: 5px; 
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul li i{
    color: brown;
   padding: 3px;
   align-items: center;
}

li .logo{
    display: flex;
    width: 148px;
    height: 26.99px;
    gap: 8px;
    justify-content: end;
}

.menu_secundario li{
    display: inline-flex;
    padding: 8px;
    gap: 5px;     
    margin-top: 5px;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: space-between;
    gap: 8px;   
}

#btn1{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
    cursor: pointer;
}

#btn2{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
    cursor: pointer;
}

#btn2:hover{
    background-color: #8E2424;  
}

.container1{
    width: 1440px;
    height: 407px;
    padding-top: 96px;
    padding-bottom: 96px;
    gap: 24px;
}

h1{
    margin: auto;
    width: 652px;
    height: 60px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 12px;
    text-align: center;

}

p{
    margin: auto;
    width: 652px;
    height: 60px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 12px;
    text-align: center;
    color: var(--text-color);
}
